<!DOCTYPE html>
<html>
<head>
  <style>
   #map {
    height: 450px;
    width: 45%;
  }
</style>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> <!-- adding jQuery.js -->
  <script src="https://www.w3schools.com/lib/w3data.js"></script>
  <script type="text/javascript" src="../static/js/mynew.js"></script>
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
</head>
<body>
<nav class="navbar navbar-default">
		    <div class="container-fluid" style="background-color: #333D3F">
		        <!-- Brand and toggle get grouped for better mobile display -->
		        <div class="navbar-header">
		            <a class="navbar-brand" href="#">GDELT </a>
					</div><!-- /.navbar-collapse -->

</div><!-- /.container-fluid -->
     <div id="map"></div>
</nav>
  <div class="navbar-header" align="left">
<div id="datetimepicker" class="input-append date" style="height: 100%">
      <input type="text"> </input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
    </div>
 <div align="left"><button type="button"  class="button" style="background-color: #333D3F; border:1px; border-style:outset; border-color: white; width: 45%; height: 100%" id="gdeltbutton">View GDELT</button></div>
<script type="text/javascript"
     src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <script type="text/javascript"
     src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
        language: 'pt-BR'
      });
    </script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfLyBKivYy0v-7sdMtqmpO2cK92X8n-a4">
  </script>
</body>
</html>
